// Header standard quand l app n est pas ouverte
// depuis le L url Rgpd
  .header {
    position: fixed;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    }

  // Welcom main page
  .flex-container-toolbar {
    display: flex;
    // display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    direction: row;
    flex-flow: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-container-toolbar img {
    width: 30px;
    height: 30px;
  }
  
  .sideNavBtn {
    flex: auto;
    text-align: left;
    // -webkit-flex: 1 1 auto;
  }

  // Overide toolbar settings Design => 48px mobile, 56px-64px desktop 
  .mat-toolbar {min-height: 48px}
  .mat-toolbar-row {
    max-height: 48px;
    padding: 8px;
  }

  @media screen and (max-width: 370px) {

    .flex-heure {  
      // display: none;    
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: inline;
    }

    .rgpdEntry1 {
      color: rgb(201, 144, 39);
      font-family: 'Great vibes', cursive;
      font-size: 32px;
    }

    .rgpdEntry2 {
      // align-items: flex-start;
      color: black;
      font-family: 'Great vibes', cursive;
      font-size: 25px;
    }
  }
  
  @media screen and (min-width: 371px) 
  and (max-width: 500px) {

    .flex-heure {      
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }

    .mobile {
      display: none;
    }


    .rgpdEntry1 {
      color: rgb(201, 144, 39);
      font-family: 'Great vibes', cursive;
      font-size: 32px;
    }

    .rgpdEntry2 {
      // align-items: flex-start;
      color: black;
      font-family: 'Great vibes', cursive;
      font-size: 25px;
    }

  }

  @media screen and (min-width: 501px) {

    .flex-heure {      
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: black;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: inline;
    }

    .rgpdEntry1 {
      color: rgb(201, 144, 39);
      font-family: 'Great vibes', cursive;
      font-size: 45px;
    }

    .rgpdEntry2 {
      // align-items: flex-start;
      color: black;
      font-family: 'Great vibes', cursive;
      font-size: 35px;
    }
  }

  // LoginBtn
  .authBtnMenu {
    // -webkit-flex: auto;
    flex: auto;
    // align-self: flex-end;
    text-align: right;
  }

  .connMenu {
    font-size: 16px; 
    font-weight: bold;   
    color: black;
  }

  .connMenu:disabled {
    color: rgba(78, 76, 76, 0.644);
  }

