// Header standard quand l app n est pas ouverte
// depuis le L url Rgpd
.header {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
  }

  .connMenu {
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px; 
    font-weight: bold;   
    color: black;
  }

  .connMenu:disabled {
    color: rgba(78, 76, 76, 0.644);
  }

  // Welcom main page
  .flex-container-toolbar {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content:space-between;
  }
  
  .flex-item1 {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }  

  .flex-heure {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: 22px;
    font-weight: bold;
    color: black;
    // font-weight: 300; // bold est plus fort
  }

  .flex-item3 {
    -webkit-flex: 1 0 auto;
    flex: 1 0 0;
    // align-self: flex-end;
    text-align: right;
  }


  // header du rgpd
  .style1 {
    color: rgb(201, 144, 39);
    font-family: 'Great vibes', cursive;
    font-size: 45px;
  }
  
  .style3 {
    // align-items: flex-start;
    color: black;
    font-family: 'Great vibes', cursive;
    font-size: 30px;
  }