<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300" rel="stylesheet">
 <!-- toolbar  -->
 <mat-toolbar class="header" color="primary">
    <mat-toolbar-row class="flex-container-toolbar"> 
        <div class="flex-item1"> 
            <!-- <button mat-icon-button [disabled]="btnSideBarState" (click)="mysidenav.toggle()"> -->
                    <button mat-icon-button [disabled]="!isUserIsConnected$" >
            <!-- <mat-icon>menu</mat-icon> -->
            <img src="./assets/OpBLogo.svg" width="30" height="30" border="0">
            <!-- <fa name="fas fa-bars" size="2x"></fa> -->
            </button>
        </div>
        <!-- </span> -->
        <div class="flex-item2">
            <!-- Date au milieur de la toolbar -->
            <span >{{ dateBrute | date: 'EEEE d MMMM yyyy':'':'fr' | DateFirstCharUpper }}</span>      
        </div>
        <div class="flex-item3">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>blur_on</mat-icon>
                <!-- <fa name="fas fa-user" size="2x"></fa> -->
            </button>      
            <!-- // Bouton login a droite de la tootlbar -->
            <mat-menu #menu="matMenu">
                <button mat-menu-item [disabled]="isUserIsConnected$" (click)="openLogin()" class="connMenu">
                    <fa name="fas fa-sign-in" size="1x"> </fa>
                    <span>Connexion</span>
                </button>
                <button mat-menu-item [disabled]="!isUserIsConnected$" class="connMenu">
                    <fa name="fas fa-cogs" size="1x"></fa> 
                    <span>Paramètres</span>
                </button>
                <button mat-menu-item [disabled]="!isUserIsConnected$" (click)="logOut()" class="connMenu">
                    <fa name="fas fa-sign-out" size="1x"></fa>
                    <span>Déconnexion</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

