<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Roboto+Slab:700|Roboto:900|Source+Sans+Pro" rel="stylesheet">


<mat-toolbar class="footer" color="primary"> 

  <mat-toolbar-row class="flex-container">
    <div class="flex-item">
        <span>
            <img src="./assets/OpBLogoNoBkg.svg" width="20" height="20" border="0">
        </span>
        <span>
            OpusBeauté
        </span>
        <span class="flex-item-smallfont"> 
            <img src="./assets/ic_copyright_black.svg" width="10" height="10" border="0">
            2018
        </span>
    </div>


  </mat-toolbar-row>

</mat-toolbar>

