<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
 rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
<div class="body-containerR">
	<div class="body-containerC">
		<mat-card class="title">
			<mat-card-content class="title-content">
				<span>Ajouter un rendez vous</span>
			</mat-card-content>
		</mat-card>
		<!-- ----------------------------------------------------------------------------------- -->
		<div class="items-containerR">
			<mat-card class="calendar-section">
				<mat-card-header class="calendar-header">
					<div>Date Rdv</div>
				</mat-card-header>
				<mat-card-content class="calendar-content">
					<mat-form-field>
						<input class="input-calendar" matInput [matDatepicker]="picker" [(ngModel)]="dateSelectionnee" placeholder="Selectionner une date"
						 (dateChange)="changeTimeA_stateStatus()" disabled>
						<mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Sélectionner une date">
						</mat-datepicker-toggle>
						<mat-datepicker #picker disabled="false" touchUi="true" [startAt]="dateSelectionnee">
						</mat-datepicker>
					</mat-form-field>
				</mat-card-content>
			</mat-card>
			<!-- ------------------------------------------------ -->
			<mat-card class="time-section">
				<mat-card-header class="time-header">
					<span>Heures Rdv</span>
				</mat-card-header>
				<mat-card-content class="time-content">
					<div class="timePicker-containerR">
						<div class="timePicker-containerC">
							<div>
								<div class="intitule-timePicker">Heure début: </div>
							</div>
							<div class="timePicker-containerR">
								<div class="input-timePicker-container">
									<input matInput class="timePicker" [value]="timePickerA" [ngxTimepicker]="timePickerA" timeSet="tpA" [format]="24"
									 min='8:0' max='22:0' disableClick=true required=true readonly>
								</div>
								<div class="icon-timePicker">
									<ngx-material-timepicker-toggle [for]="timePickerA" [disabled]="timeA_state">
										<mat-icon ngxMaterialTimepickerToggleIcon matTooltip="Sélectionner l'heure de début du Rdv">access_time</mat-icon>
									</ngx-material-timepicker-toggle>
									<ngx-material-timepicker #timePickerA [minutesGap]="15" (timeSet)="changeTimeB_stateStatus()">
									</ngx-material-timepicker>
								</div>
							</div>
						</div>
					</div>
					<div class="timePicker-containerR">
						<div class="timePicker-containerC">
							<div>
								<div class="intitule-timePicker">Heure fin: </div>
							</div>
							<div class="timePicker-containerR">
								<div class="input-timePicker-container">
									<input class="timePicker" matInput value="timePickerA" placeholder="timePickerB" [ngxTimepicker]="timePickerB"
									 [format]="24" min="08:00" max="22:00" [disableClick]="true" disableClick=true required=true readonly>
								</div>
								<div class="icon-timePicker">
									<ngx-material-timepicker-toggle [for]="timePickerB" [disabled]="timeB_state">
										<mat-icon ngxMaterialTimepickerToggleIcon matTooltip="Sélectionner l'heure de fin du Rdv">access_time</mat-icon>
									</ngx-material-timepicker-toggle>
									<ngx-material-timepicker #timePickerB [minutesGap]="15" (timeSet)="changeClientele_stateStatus()">
									</ngx-material-timepicker>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<!-- ---------------------------------------------------------------------- -->


		<div class="items-containerR">
			<mat-card class="clientele-section">
				<mat-card-header class="clientele-header">
					<span>Clientèle</span>
				</mat-card-header>
				<mat-card-content class="clientele-content">
					<mat-form-field>
						<input matInput placeholder="Saisir un client" aria-label="client" [matAutocomplete]="autoClient" [formControl]="clientCtrl">
						<mat-autocomplete #autoClient="matAutocomplete">
							<mat-option *ngFor="let client of filteredClients | async" 
							[value]='client.nomClient' (onSelectionChange)="clientSelection(client)"
							 [disabled]="clientele_state">
								<span>{{client.nomClient }} {{ client.prenomClient }} </span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div>
						<div *ngIf="selectedClientFromList"> {{ selectedClientFromList.nomClient }} {{
							selectedClientFromList.prenomClient }}</div>
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card class="forfait-section">
				<mat-card-header class="forfait-header">
					<span>Forfait</span>
				</mat-card-header>
				<mat-card-content class="forfait-content">
					<div>Forfait</div>
					<section class="activite-content-slider">
						<mat-slide-toggle [color]="prestationSliderColor" (change)="changeForfait_stateStatus()" [checked]="isPrestationsIsAForfait"
						 [disabled]="forfait_state">
						</mat-slide-toggle>
					</section>
				</mat-card-content>
			</mat-card>
		</div>
		<!-- ---------------------------------------------------------------------- -->
		<div class="items-containerR">

			<mat-card class="activite-section">
				<mat-card-header class="activite-header">
					<span>Activité</span>
				</mat-card-header>
				<mat-card-content class="activite-content">
					<mat-select placeholder="Sélectionner une activite" [disabled]="clientele_state" required (selectionChange)="changePrestation_stateStatus()">
						<mat-option *ngFor="let activite of activiteList" [value]="activite">
							{{ activite }}
						</mat-option>
					</mat-select>
				</mat-card-content>
			</mat-card>
			<mat-card class="prestation-section">
				<mat-card-header class="prestation-header">
					<span>Prestation</span>
				</mat-card-header>
				<mat-card-content class="prestation-content">
					<mat-form-field>
						<input matInput placeholder="Saisir une prestation" aria-label="prestation" [matAutocomplete]="autoPrestation"
						 [formControl]="prestationCtrl">
						<mat-autocomplete #autoPrestation="matAutocomplete">
							<mat-option *ngFor="let prestation of filteredPrestations | async" [value]="prestation.soin" [disabled]="prestation_state"
							 (onSelectionChange)="prestationSelection(prestation)">
								<span>{{prestation.activite }} {{ prestation.soin }} </span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div>
						<div *ngIf="selectedPrestationFromList"> {{ selectedPrestationFromList.activite }} {{
							selectedPrestationFromList.soin }}</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<!-- ---------------------------------------------------------------------- -->
		<div class="items-containerR">
			<mat-card class="praticien-section">
				<mat-card-header class="praticien-header">
					<span>Praticien</span>
				</mat-card-header>
				<mat-card-content class="praticien-content">
					<mat-select placeholder="Sélectionner un praticien" [disabled]="praticien_state" required>
						<mat-option *ngFor="let praticien of praticienList" [value]="praticien.nomPraticien" (onSelectionChange)="changeSaveButton_stateStatus()">
							{{ praticien.nomPraticien }} {{ praticien.prenomPraticien }}
						</mat-option>
					</mat-select>
				</mat-card-content>
			</mat-card>
			<mat-card class="lieuRdv-section">
				<mat-card-header class="lieuRdv-header">
					<span>Lieu Rdv</span>
				</mat-card-header>
				<mat-card-content class="lieuRdv-content">
					<mat-select placeholder="Sélectionner un lieu de Rdv" [disabled]="praticien_state" required>
						<mat-option *ngFor="let lieuRdv of lieuRdvList" [value]="lieuRdv.lieuRdv" (onSelectionChange)="changeSaveButton_stateStatus()">
							{{ lieuRdv.lieuRdv }}
						</mat-option>
					</mat-select>
				</mat-card-content>
			</mat-card>
		</div>
		<!-- ---------------------------------------------------------------------- -->

		<mat-card class="action-section">
			<div>
				<button mat-mini-fab color="warn" matTooltip="annuler la saisie de Rdv" [routerLink]="[this.previousRoute]">
					<mat-icon class="remonte-icon-btn">clear</mat-icon>
				</button>
			</div>
			<div>
				<button mat-mini-fab color="primary" matTooltip="Valider" (click)="saveRdv()" [disabled]="save_button_state">
					<mat-icon class="remonte-icon-btn">create</mat-icon>
				</button>
			</div>
		</mat-card>

	</div>
</div>