<div class="containerH">
    <div class="containerV">
      <div class="titre" id="description">Support</div>
      <div>
        <dl>
          <dt>Besoin d'aide</dt>
          <dd>
              <p><span>
                  Le logiciel presente un problème recurent, 
                  veuillez contacter le support du logiciel par email 
                  <a href="mailto:ricodoby%40hotmail.com?subject=Opus_Beaute_Support%20%3A%20Probl%C3%A8me&body=Bonjour%2C%0AJ'ai%20besoin%20d'aide%20le%20logiciel%20ne%20fonctionne%20pas.%0AMerci%20de%20me%20contacter.%0A%0ACordialement"> Support</a>
              </span></p>
          </dd>
        </dl>
      </div>
      <div class="boutonFermer" mat-elevation-z20>
          <a [routerLink]="[ '/welcome' ]"><button mat-raised-button color="primary">Fermer</button></a>
      </div>
    </div>
  </div>
  
