<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
 rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
<form [formGroup]="prestationFg">
	<div class="body-containerR" >
		<div class="body-containerC">

			<mat-card class="title">
				<mat-card-content class="title-content">
					<span>Ajouter une Prestation</span>
				</mat-card-content>
			</mat-card>
			<!-- ----------------------------------------------------------------------------------------------------------------------- -->
			<div class="items-containerR">
				<mat-card class="matCard-client-section">
					<mat-card-header class="matCard-client-header">
						<div>Activite</div>
					</mat-card-header>
					<mat-card-content class="matCard-client-content">
						<div  class="divsInternes">
								<mat-form-field hintLabel="Liste déroulante">
										<mat-select placeholder="Séléctionner l' activité"
																[formControl]="this.prestationFg.get('activiteFc')">
												<mat-option *ngFor="let activite of activiteList" 
															[value]='activite' 
															(onSelectionChange)="activiteSelectionne($event, activite)">
													{{ activite.activiteNom }}
												</mat-option>
										</mat-select>
										<mat-error *ngIf="this.prestationFg.get('activiteFc').invalid">{{getPrestationActiviteErrorMessage()}}</mat-error>
								</mat-form-field>
								
						</div>
						<div  class="divsInternes">
								<mat-form-field>
										<input matInput 
                        		#inputSoin                        
														maxlength="30" 
												autocomplete="off"
												[formControl]="this.prestationFg.get('prestationSoin')"
												placeholder="Soin">
										<mat-hint align="end">{{inputSoin.value?.length || 0}}/30</mat-hint>
										<mat-error *ngIf="this.prestationFg.get('prestationsoin').invalid">{{getprestationSoinErrorMessage()}}</mat-error>
								</mat-form-field>
						</div>
					  <div class="divsInternes">
								<mat-form-field hintLabel="Liste déroulante">
										<mat-select placeholder="Séléctionner le genre"
																[formControl]="this.clientFg.get('clientGenre')">
												<mat-option *ngFor="let genre of genreList" 
															[value]='genre.genreHum' 
															(onSelectionChange)="genreSelectionne($event, genre)">
													{{ genre.genreHum }}
												</mat-option>
										</mat-select>
										<mat-error *ngIf="this.clientFg.get('clientGenre').invalid">{{getClientGenreErrorMessage()}}</mat-error>
								</mat-form-field>
            </div>
            <div class="divsInternes">
                <mat-form-field>
									
                </mat-form-field>
            </div>
					</mat-card-content>
				</mat-card>
				<!-- ------------------------------------------------ -->
				<mat-card class="matCard-adresse-section">
					<mat-card-header class="matCard-adresse-header">
						<span>Adresse client</span>
					</mat-card-header>
					<mat-card-content class="matCard-adresse-content">
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
                          #inputNumRue
													maxlength="3" 
													autocomplete="off"
													[formControl]="this.clientFg.get('clientAdresseNumRue')"
                          placeholder="Numéro de rue">
											<mat-hint align="end">{{inputNumRue.value?.length || 0}}/3</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientAdresseNumRue').invalid">{{getAdresseNumRueErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
                          #inputRue
													maxlength="30" 
													autocomplete="off"
													[formControl]="this.clientFg.get('clientAdresseRue')"
                          placeholder="Rue, avenue, bd">
											<mat-hint align="end">{{inputRue.value?.length || 0}}/30</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientAdresseRue').invalid">{{getgetAdresseRueErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
                          #inputCodePostale
													maxlength="5" 
													autocomplete="off"
													[formControl]="this.clientFg.get('clientAdresseCodePostale')"
                          placeholder="Code postale">
											<mat-hint align="end">{{inputCodePostale.value?.length || 0}}/5</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientAdresseCodePostale').invalid">{{getAdresseCodePostaleErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
													#inputVille
													autocomplete="off"
													maxlength="30" 
													[formControl]="this.clientFg.get('clientAdresseVille')"
                          placeholder="Ville">
											<mat-hint align="end">{{inputVille.value?.length || 0}}/30</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientAdresseVille').invalid">{{getAdresseVilleErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
					</mat-card-content>
				</mat-card>
			</div>
			<!-- ---------------------------------------------------------------------- -->
			<div class="items-containerR">
				<mat-card class="matCard-contact-section">
					<mat-card-header class="matCard-contact-header">
						<div>Contact client</div>
					</mat-card-header>
					<mat-card-content class="matCard-contact-content">
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
                          #inputTelFix                          
													autocomplete="off"
													minlength="10"
													maxlength="10" 
													[formControl]="this.clientFg.get('clientTelFix')"
                          placeholder="Téléphone fixe">
											<mat-hint align="end">{{inputTelFix.value?.length || 0}}/10</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientTelFix').invalid">{{getTelFixErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
              <div  class="divsInternes">
                  <mat-form-field>
                      <input matInput 
													#inputTelMob
													autocomplete="off"
													minlength="10"
													maxlength="10"
													[formControl]="this.clientFg.get('clientTelMobil')"
													placeholder="Téléphone mobile">
											<mat-hint align="end">{{inputTelMob.value?.length || 0}}/10</mat-hint>
											<mat-error *ngIf="this.clientFg.get('clientTelMobil').invalid">{{getTelMobileErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
              <div class="divsInternes">
                  <mat-form-field>
                    <input matInput 
													#inputMail
													autocomplete="off"
													maxlength="50"
                          placeholder="Email" 
                          [formControl]="this.clientFg.get('clientEmail')">
                      <mat-hint align="end">{{inputMail.value?.length || 0}}/50</mat-hint>
                    <mat-error *ngIf="this.clientFg.get('clientEmail').invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
					</mat-card-content>
				</mat-card>
				<!-- ------------------------------------------------ -->
				<mat-card class="matCard-optionRappels-section">
					<mat-card-header class="matCard-optionRappels-header">
						<span>Options Rappels</span>
					</mat-card-header>
					<mat-card-content class="matCard-optionRappels-content">
              <div class="rgpdTitle">
                  <span>Si activé le client va reçevoir</span>                  
              </div>
              <div class="rgpdReglages-Container">
                  <span class="slider-Subject">
                      Offres commerciales par mail
                  </span>
                  <span class="slider-Switch">
                      <mat-slide-toggle  
                        (change)="onChangeTs_Commercials_Checked()"                         
												[color]="ts_Color"
												[checked]="slider_Commercials"
												[disabled]="this.clientFg.get('clientEmail').invalid 
																		|| this.clientFg.get('clientEmail').value == ''
																		|| this.clientFg.get('clientEmail').value == null">                                  
                      </mat-slide-toggle>
                  </span>
                </div>
                <div class="rgpdReglages-Container">
                  <span class="slider-Subject">
                      La NewsLetter par mail
                  </span>
                  <span class="slider-Switch">
                      <mat-slide-toggle    
                        (change)="onChangeTs_NewsLetter_Checked()"                             
												[color]="ts_Color"
												[checked]="slider_NLetter"
												[disabled]="this.clientFg.get('clientEmail').invalid 
																		|| this.clientFg.get('clientEmail').value == ''
																		|| this.clientFg.get('clientEmail').value == null">                                  
                      </mat-slide-toggle>                    
                  </span>                        
                </div>
                <div class="rgpdReglages-Container">
                    <span class="slider-Subject">
                        Rappels de Rdv par SMS 
                    </span>
                    <span class="slider-Switch">
                        <mat-slide-toggle 
                          (change)="onChangeTs_SmsRdvRemider_Checked()"
													[color]="ts_Color"
													[checked]="slider_Sms"
													[disabled]="this.clientFg.get('clientTelMobil').invalid 
													&& this.clientFg.get('clientTelMobil').updateOn
													&& this.clientFg.get('clientTelMobil').valueChanges
													|| this.clientFg.get('clientTelMobil').value == ''"> 
                        </mat-slide-toggle>                          
                    </span>                        
                  </div>
                  <div class="rgpdReglages-Container">
                    <span class="slider-Subject">
                        Rappels de Rdv par Mail 
                    </span>
                    <span class="slider-Switch">                          
                        <mat-slide-toggle 
                          (change)="onChangeTs_MailRdvReminder_Checked()"                               
													[color]="ts_Color"
													[checked]="slider_Mail"
													[disabled]="this.clientFg.get('clientEmail').invalid
																		|| this.clientFg.get('clientEmail').value == ''
																		|| this.clientFg.get('clientEmail').value == null">                                  
                        </mat-slide-toggle>         
                    </span>                        
                  </div>
					</mat-card-content>
				</mat-card>
			</div>
			<!-- ---------------------------------------------------------------------- -->
		
			<mat-card class="action-section">
				<div>
		  <button mat-mini-fab 
				 			color="warn" 
							matTooltip="Annuler la saisie du client" 
							[routerLink]="[this.previousRoute]">
			<mat-icon class="remonte-icon-btn">clear</mat-icon>
		  </button>
				</div>
				<div>
					<button mat-mini-fab 
									color="primary" 
									matTooltip="Valider"
									(click)="postClient()"
									[disabled]="!clientFg.valid">
						<mat-icon class="remonte-icon-btn">create</mat-icon>
					</button>
				</div>
			</mat-card>

		</div>
  </div>
</form>

