<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
 rel="stylesheet">
<div class="body-container">
	<div class="left-container">
		<mat-card>
			<mat-card-content class="mat-card-titre-liste-rdv">
				Liste de Rdv
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-content class="mat-card-content-info-singleRdvOrRangeRdv">
				<ng-container *ngIf="activeTabIndex === 0; then showSimpleDate ; else showRangeDate"></ng-container>
				<ng-template #showSimpleDate>
					<span>Rendez-vous du {{ dateSelectionneeA | date: 'dd / MM' }}</span>
				</ng-template>
				<ng-template #showRangeDate>
					<span>Rendez-vous du {{ dateSelectionneeA | date: 'dd / MM' }} au {{ dateSelectionneeB | date: 'dd
						/
						MM' }}</span>
				</ng-template>
			</mat-card-content>
		</mat-card>
		<mat-card class="matCardListRdv">
			<!-- afiche que si l utilisateur n est pas vide -->
			<mat-card-content class="mat-card-content-info-noRdv" *ngIf="this.currentUtilisateur$">
				<!-- Message d accueil si indexRdv == 1 affiche la marche a suivre -->
				<ng-container *ngIf="indexRdv == 0; then displaySelectPratCliAndDate; else displayContent"></ng-container>

				<ng-template #displaySelectPratCliAndDate>
					<!-- Si praticien ou client Non selectionne affiche le message de marche suivre  -->
					<!-- sinon affiche message selectionner date  -->
					<ng-container *ngIf="(!praticienSelected) && (!clientSelected); then displaySelectPraticien; else displaySelectADate"></ng-container>
					
					<ng-template #displaySelectPraticien>
						<span class="pas-de-date">{{ this.currentUtilisateur$.prenomUtilisateur }}, sélectionnez un praticien ou client =></span>
					</ng-template>

					<ng-template #displaySelectADate>
						<!-- si Praticien ou client selectionne affiche la marche suivre sur le selection d ela date -->
						<ng-container *ngIf="praticienSelected || clientSelected; then date;"></ng-container>
						<ng-template #date>
							<!-- selon l onglet actif affiche le maessage pour simple date range of date -->
							<ng-container *ngIf="activeTabIndex === 0; then simpleDate; else rOfDates"></ng-container>
							<ng-template #simpleDate>
								<span class="pas-de-date"> Changez la date et/ou validez ...</span>
							</ng-template>
							<ng-template #rOfDates>
								<!-- invite a selectionner la date B dans le cas du range of date -->
								<ng-container *ngIf="!dateSelectionneeB; then selDateFin; else rodValidez"></ng-container>
								<ng-template #selDateFin>
									<span class="pas-de-date"> Sélectionnez une date de fin ...</span>
								</ng-template>
								<ng-template #rodValidez>
									<span class="pas-de-date"> Validez ...</span>
								</ng-template>
							</ng-template>
						</ng-template>						
					</ng-template>

				</ng-template> 

				<ng-template #displayContent>
					<!-- Affiche les rdv's ou message d information -->
					<ng-container *ngIf="indexRdv == 0; then noRdv; else displayRdvTable"></ng-container>
					<ng-template #noRdv>
						<!-- selon l onglet actif, message d information en fonction de l onglet actif -->
						<ng-container *ngIf="activeTabIndex === 0; then showSimpleDate; else rangeOfDate"></ng-container>
						<ng-template #showSimpleDate>
							<span class="pas-de-date">Pas de Rdv pour cette date.</span>
						</ng-template>
						<ng-template #rangeOfDate>
							<span class="pas-de-date">Pas de rendez-vous pour cette plage de dates.</span>
						</ng-template>
					</ng-template>

					<ng-template #displayRdvTable>
						<mat-table #table mat-table [dataSource]="dataSource" *ngIf="nbRdv != 0">
							<tr mat-header-row *matHeaderRowDef="tabNomsColonnes"></tr>
							<tr mat-row *matRowDef="let row; columns: tabNomsColonnes;"></tr>

							<ng-container matColumnDef="numeroRdv">
								<th mat-header-cell *matHeaderCellDef> </th>
								<td mat-cell *matCellDef="let element; let i = index ">
									<span *ngIf="!element.isCancelled">{{ i + 1 }}/</span>
									<span class="isRdvIsCancelled" *ngIf="element.isCancelled">{{ i + 1 }}/</span>
								</td>
							</ng-container>

							<ng-container matColumnDef="dateHeureDebut">
								<th mat-header-cell *matHeaderCellDef>
									<span *ngIf="activeTabIndex == 0">Heure début</span>
									<span *ngIf="activeTabIndex == 1">Date/Heure début</span>
								</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="activeTabIndex == 0 && !element.isCancelled">{{ element.dateHeureDebut | Time24Pipe }} </span>
									<span *ngIf="activeTabIndex == 0 && element.isCancelled" class="isRdvIsCancelled">{{ element.dateHeureDebut |
										Time24Pipe }} </span>
									<span *ngIf="activeTabIndex == 1 && !element.isCancelled">{{ element.dateHeureDebut | DateAndTime24Pipe }}
									</span>
									<span *ngIf="activeTabIndex == 1 && element.isCancelled" class="isRdvIsCancelled">{{ element.dateHeureDebut |
										DateAndTime24Pipe }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="separation">
								<th mat-header-cell *matHeaderCellDef></th>
								<td mat-cell *matCellDef="let element"> - </td>
							</ng-container>

							<ng-container matColumnDef="dateHeureFin">
								<th mat-header-cell *matHeaderCellDef>Heure fin</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.dateHeureFin | Time24Pipe}} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled">{{ element.dateHeureFin | Time24Pipe}}</span>
								</td>
							</ng-container>

							<ng-container matColumnDef="lieuRdv">
								<th mat-header-cell *matHeaderCellDef>Lieu Rdv</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.lieuRdv.lieuRdv }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.lieuRdv.lieuRdv }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="activite">
								<th mat-header-cell *matHeaderCellDef>Activité</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.prestation.activite.activiteNom }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.prestation.activite.activiteNom }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="prestation">
								<th mat-header-cell *matHeaderCellDef>Prestation</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.prestation.soin | FirstCharUpperPipe }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.prestation.soin | FirstCharUpperPipe }}
									</span>
								</td>
							</ng-container>

							<ng-container matColumnDef="nomClient">
								<th mat-header-cell *matHeaderCellDef>Nom </th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled">{{ element.client.nomClient }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled">{{ element.client.nomClient }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="prenomClient">
								<th mat-header-cell *matHeaderCellDef>Prénom</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.client.prenomClient }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.client.prenomClient }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="nomPraticien">
								<th mat-header-cell *matHeaderCellDef>Praticien</th>
								<td mat-cell *matCellDef="let element">
									<span *ngIf="!element.isCancelled"> {{ element.praticien.nomPraticien }} </span>
									<span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.praticien.nomPraticien }} </span>
								</td>
							</ng-container>

							<ng-container matColumnDef="idRdv">
								<th mat-header-cell *matHeaderCellDef>Détails</th>
								<td mat-cell *matCellDef="let element" class="button-Details">
									<button mat-icon-button color="primary" [routerLink]="['/rdvdetails', element.idRdv]">
										<i class="material-icons">remove_red_eye</i>
									</button>
								</td>
							</ng-container>
						</mat-table>
					</ng-template>
				 </ng-template>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="boutonRemonter" mat-elevation-z20>
	</div>
	<div class="right-container">
		<div>
			<mat-card class="mat-card-cherche-rdv">
				<mat-card-content class="mat-card-cherche-rdv-content-titre">
					Rechercher un Rdv
				</mat-card-content>
			</mat-card>
		</div>
		<!-- ------------------------------------------------------------------------- -->
		<mat-card class="mat-card-cherche-rdv">
			<mat-card-header class="mat-card-cherche-rdv-pratClieSelection">
				<mat-icon>search</mat-icon>Praticien ou Client :
			</mat-card-header>
			<mat-card-content>
				<mat-tab-group #stepperTabPratclient (focusChange)="togglePratCliTab()">
					<mat-tab id="prat" label="Praticien" active="praticien">
						<ng-template matStepLabel></ng-template>
						<mat-select id="pratselector"
									class="mat-card-cherche-rdv-mat-select" 
									placeholder="Liste praticien"
									[(value)]="cleanPraticienValuefield"
									[formControl]="praticienCtrl" 									
									name="praticien">
							<mat-option *ngFor="let praticien of praticienList" 
										(onSelectionChange)="praticienSelectionne($event, praticien)"
							 			[value]="praticien">
								{{ praticien.prenomPraticien }} {{ praticien.nomPraticien }}
							</mat-option>
						</mat-select>
					</mat-tab>
					<mat-tab id="cli" label="Client" active="client">					
						<mat-form-field >
							<input matInput placeholder="Saisir un client" 
											aria-label="client" 
											[matAutocomplete]="autoClient" 
											[formControl]="clientCtrl">
							<mat-autocomplete #autoClient="matAutocomplete">
								<mat-option class="clientTab" 
											*ngFor="let client of filteredClients | async" 
											[value]='client.nomClient + " " + client.prenomClient'
											(onSelectionChange)="clientSelectionne($event, client)">
									<span>{{client.nomClient }} {{ client.prenomClient }} </span>
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>					
					</mat-tab>
				</mat-tab-group>
			</mat-card-content>
		</mat-card>
		<mat-card class="mat-card-cherche-rdv">
			<mat-card-header class="mat-card-cherche-rdv-dateSelection">
				Choisissez une ou deux dates :
			</mat-card-header>
			<mat-card-content>
				<mat-tab-group #stepperTabDates [(selectedIndex)]="activeTabIndex">
					<mat-tab id="sd" label="Simple date" active="selectedSimpleDateTab" [disabled]="!praticienSelected && !clientSelected">
						<ng-template matStepLabel></ng-template>
						<div class="tab-container">
							<div class="tab-simpleDate">
								<mat-form-field>
									<input matInput [matDatepicker]="picker" [(ngModel)]="dateSelectionneeA" placeholder="Selectionner une date"
									 disabled>
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker disabled="false" touchUi="true" #picker [startAt]="dateSelectionneeA" [disabled]="!praticienSelected && !clientSelected">
									</mat-datepicker>
								</mat-form-field>
							</div>
							<div class="tab-Btn">
								<button [disabled]="!praticienSelected && !clientSelected" color="primary" class="simpleDate-search-btn" mat-mini-fab (click)="getRdvListParDate(dateSelectionneeA)">
									<mat-icon>search</mat-icon>
								</button>
							</div>
						</div>

					</mat-tab>
					<mat-tab id="rod" label="Plage de date" active="selectedRangeOfDateTab" [disabled]="!praticienSelected && !clientSelected">
						<div class="tab-rangeOFDate">
							<mat-form-field>
								<input class="tab-rangeOfDate-DateA" matInput [matDatepicker]="pickerA" [(ngModel)]="dateSelectionneeA"
								 placeholder="Date Début">
								<mat-datepicker-toggle matSuffix [for]="pickerA">
								</mat-datepicker-toggle>
								<mat-datepicker #pickerA disabled="false" touchUi="true" #pickerA [startAt]="dateSelectionneeA">
								</mat-datepicker>
							</mat-form-field>
							<mat-form-field class="tab-rangeOfDate-DateB">
								<input class="tab-rangeOfDate-DateA" [min]="dateSelectionneeA" matInput [matDatepicker]="pickerB" [(ngModel)]="dateSelectionneeB"
								 placeholder="Date Fin">
								<mat-datepicker-toggle matSuffix [for]="pickerB">
								</mat-datepicker-toggle>
								<mat-datepicker #pickerB disabled="false" touchUi="true" [startAt]="dateSelectionneeA" #pickerB [startAt]="dateSelectionneeB">
								</mat-datepicker>
							</mat-form-field>
							<button [disabled]="!praticienSelected && !clientSelected" class="tab-rangeOfDate-btn" color="primary" mat-mini-fab (click)="getRdvListParPlageDeDates(dateSelectionneeA, dateSelectionneeB)">
								<mat-icon>search</mat-icon>
							</button>
						</div>
					</mat-tab>
				</mat-tab-group>

			</mat-card-content>
		</mat-card>
	</div>
	<mat-tab-group></mat-tab-group>
</div>