
.card-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  height: 400px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-container-child-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 350px;
    border-right-color: #AED581;
    border-left-color: #AED581;

  }
  
  .flex-item-title {
    flex:1;  
  }

  .flex-item-title p {
    color: black;
    font-family: 'Montserrat', sans-serif;  
    font-size:24px;
    font-weight: bold;
    text-align: center;
  }
  
  .flex-item {
    flex:1;  
    height: 25px;
    margin: 25px;
    width: 100%;
    border-right-color: chocolate;
  }
  
  .flex-item > * {
    width: 80%;
    height: 25px;
  }
  
  .flex-item-ForgottenPwd {
    
    color: black;
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;
  }

  .flex-item-bottom {
    flex:1;  
    height: 25px;
  }

  .flex-container-actionOkCancel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .flex-item-ActionOkCancel {
    flex:1;
    text-align: center;
  }

  


 
  
  