<!-- <div class="flex-container-parent-row">
	<div class="flex-item-parent-row">
		<div class="flex-container-card-row">
					<div class="card-title">
						<ng-container *ngIf="showSimpleDateOrRangeDate ; then showSimpleDate; else showRangeDate"></ng-container>
						<ng-template #showSimpleDate>
							Liste des RDV's
							<span class="card-content">
								du {{ dateSelectionnee | date: 'dd / MM' }}
							</span>
						</ng-template>
						<ng-template #showRangeDate>
							Liste des RDV's
							<span class="card-content">
								du {{ dateSelectionneeA | date: 'dd / MM' }} au {{ dateSelectionneeB | date: 'dd / MM' }}
							</span>
						</ng-template>


					</div>
					<mat-divider></mat-divider>
					<div>
						<p>
							DATEHeure D Date, NomPrenom, Soin, Lieu, MODIFIER
						</p>
					</div>
		</div>
	</div>
	<div class="flex-item-parent-row">
		<div clas="flex-container-child-col">
			<div class="flex-item-child-child-col">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Calendrier Rdv
							</mat-panel-title>
							<mat-panel-description>
								Types de sélection de date
							</mat-panel-description>
						</mat-expansion-panel-header>

						<mat-tab-group>
							<mat-tab label="Date">
								Date
								<ng-template matStepLabel>Simple Date</ng-template>
								<mat-form-field class="card-content">
									<input matInput [matDatepicker]="picker" [(ngModel)]="dateSelectionnee" 
												placeholder="Selectionner une date" disabled>
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker disabled="false" touchUi="true" 
																	#picker [startAt]="dateSelectionnee"></mat-datepicker>
								</mat-form-field>
								<button mat-icon-button (click)="rechercherSimpleDate()">
										<i class="material-icons">search</i>
								</button>
							</mat-tab>
							<mat-tab label="Plage de date">
								<mat-form-field class="card-content">
									<input matInput [matDatepicker]="pickerA" [(ngModel)]="dateSelectionneeA" 
													placeholder="Date Début" disabled>
									<mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
									<mat-datepicker #pickerA disabled="false" touchUi="true" 
																	#pickerA [startAt]="dateSelectionnee"></mat-datepicker>
								</mat-form-field>
								<mat-form-field class="card-content">
									<input matInput [matDatepicker]="pickerB" [(ngModel)]="dateSelectionneeB" 
													placeholder="Date Fin" disabled>
									<mat-datepicker-toggle matSuffix [for]="pickerB"></mat-datepicker-toggle>
									<mat-datepicker #pickerB disabled="false" touchUi="true" [startAt]="startDate" 
																	#pickerB [startAt]="dateSelectionneeB"></mat-datepicker>
								</mat-form-field>
								<button mat-icon-button (click)="rechercherRangeDate()">
										<i class="material-icons">search</i>
									</button>
							</mat-tab>
						</mat-tab-group>

					</mat-expansion-panel>
				</mat-accordion>
			</div>
			<div clas="flex-item-child-col">
				<mat-accordion>
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Rdv sélectionné
							</mat-panel-title>
							<mat-panel-description>
								Informations
							</mat-panel-description>
						</mat-expansion-panel-header>
						<ng-template matExpansionPanelContent>
							<form>
								<div class="flex-container-item-row">	
										<span clas="flex-item-row">
												Date du Rdv :
												<mat-form-field>				
													<input matInput [min]="minDate" [(ngModel)]="dateReservationRdv" 
																[matDatepicker]="picker4" placeholder=""
																[ngModelOptions]="{standalone: true}" disabled>
													<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
													<mat-datepicker #picker4 startView="month" disabled="false" touchUi="true" 
																					[startAt]="startDate"></mat-datepicker>
												</mat-form-field>
										</span>
								</div>
								<mat-divider></mat-divider>
								<div class="flex-container-item-row">
												<span class="flex-item-row">
														<span>
																<u>Rdv Début</u>
														</span>
														<br>
														<div class="flex-container-item-row">
																<span class="flex-item-row-client-content">
																		<mat-form-field class="items">
																				<mat-select placeholder="Heures"  [(ngModel)]="hDSelectedValue" name="heure">
																					<mat-option class="items" *ngFor="let heure of heures"[value]="heure.value">
																						{{ heure.viewValue }}</mat-option>
																				</mat-select>	
																		</mat-form-field>
																</span>
																<span class="flex-item-row-client-content">
																		<mat-form-field class="items">
																				<mat-select placeholder="Minutes" [(ngModel)]="mDSelectedValue" name="minute">
																					<mat-option class="items" *ngFor="let minute of minutes" [value]="minute.value">
																						{{ minute.viewValue }}</mat-option>
																				</mat-select>	
																		</mat-form-field>
																</span>
														</div>
												</span>
							</div>
							<div class="flex-container-item-row">
												<span class="flex-item-row">
														<span>
																<u>Rdv Fin</u>
															</span>	
															
															<br>
															<div class="flex-container-item-row">
																	<span class="flex-item-row-client-content">
																			<mat-form-field class="items">
																					<mat-select placeholder="Heures"  [(ngModel)]="hFSelectedValue" name="heure">
																						
																						<mat-option class="items" *ngFor="let heure of heures"[value]="heure.value">
																							{{ heure.viewValue }}</mat-option>
																					</mat-select>	
																			</mat-form-field>
																	</span>
																	<span class="flex-item-row-client-content">
																			<mat-form-field class="items">
																					<mat-select placeholder="Minutes" [(ngModel)]="mFSelectedValue" name="minute">
																							
																						<mat-option class="items" *ngFor="let minute of minutes" [value]="minute.value">
																							{{ minute.viewValue }}</mat-option>
																					</mat-select>	
																			</mat-form-field>
																	</span>
															</div>
												</span>
									</div>
								<mat-divider></mat-divider>
								<u>Client(e)</u>
								<br>
								<div class="flex-container-item-row">
										<span class="flex-item-row-client-content">
												<mat-form-field class="items">
														<mat-select placeholder="Client(e)">
															<mat-option class="items" *ngFor="let client of clients" [value]="client.value">
																{{ client.viewValue }}
															</mat-option>
														</mat-select>
												</mat-form-field>
										</span>
										<span class="flex-item-row-client-content">
												<mat-form-field class="items">
														<mat-select placeholder="Genre">
															<mat-option class="items" *ngFor="let genre of genres" [value]="genre.value">
																{{ genre.viewValue }}
															</mat-option>
														</mat-select>
												</mat-form-field>
										</span>
								</div>
								<mat-divider></mat-divider>
								<u>Prestation</u>
								<br>
								<div class="flex-container-item-row">
									<span class="flex-item-row-client-content">
											<mat-form-field class="items">
													<mat-select placeholder="Prestations">
														<mat-option class="items" *ngFor="let prestation of prestations" 
														[value]="prestation.value">
															{{ prestation.viewValue }}
														</mat-option>
													</mat-select>
											</mat-form-field>
									</span>
									<span class="flex-item-row-client-content">
											<mat-form-field class="items">
													<mat-select placeholder="Soins">
														<mat-option class="items" *ngFor="let soin of soins" [value]="soin.value">
															{{ soin.viewValue }}
														</mat-option>
													</mat-select>
											</mat-form-field>
									</span>
								</div>
								<mat-divider></mat-divider>
								<u>Lieu Rdv</u>
								<br>
								<div class="flex-container-item-row">
										<span class="flex-item-row-client-content">
												<mat-form-field class="items">
														<mat-select placeholder="Lieu Rdv">
															<mat-option class="items" *ngFor="let lieu of lieux" [value]="lieu.value">
																{{ lieu.viewValue }}
															</mat-option>
														</mat-select>
												</mat-form-field>
										</span>
										<span class="flex-item-row-btndelete">
												<button color="warn" mat-icon-button 
												(click)="dateTimeValider(dateReservationRdv)">	
														<i class="material-icons">delete</i>
												</button>
										</span>
										<span class="flex-item-row-btnvalider">
												<button color="primary" mat-raised-button 
												(click)="dateTimeValider(dateReservationRdv)">	
													Valider
												</button>
										</span>

								</div>
							</form>
						</ng-template>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>
</div> -->