<html>
    <div class="cardCenter">
        <mat-card class="cardCenter">
            <mat-card-header>
                    <div mat-card-avatar class="opusBeaute-header-image"></div>
                    <mat-card-title class="card-titre">Page non trouvée</mat-card-title>
                    <mat-card-subtitle class=""></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content class="card-contenu">
                    <div>
                        <span>
                          <p>
                                Bonjour, 
                                la page que vous cherchez n'a pas été trouvée.
                          </p> 
                          <p>
                            Vous allez être redirigé(e) vers la page d'accueil.
                          </p>
                        </span>
                    </div>
                </mat-card-content>            
        </mat-card>
    </div>
</html>
