<html>
    <div class="center">
        <mat-card class="card">
            <mat-card-header>
                    <div mat-card-avatar class="opusBeaute-header-image"></div>
                    <mat-card-title class="card-titre">Page introuvable :(</mat-card-title>
                </mat-card-header>                    
                <mat-card-content class="card-contenu">
                    <div>
                            <p>La page que vous cherchez est introuvable.<br>
                            Vous allez être redirigé(e) vers la page d'accueil.</p>
                            <p>La Bonbonnière d'Audrey.</p>
                    </div>
                </mat-card-content>            
        </mat-card>
    </div>
</html>
