.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.container > span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}