<div class="containerH">
  <div class="containerV">
    <div class="titre" id="description">Description</div>
    <div>
      <dl>
        <dt>Le logiciel</dt>
        <dd>
            <p>Opus Beauté est un gestionnaire clientèle dans le secteur de l'esthétisme.
            Le logiciel dispose d'une procédure automatique de rappel de rendez-vous par mail et/ou par sms. A j-1 du rendez-vous le système envoie un email et ou 
            un sms au client. Le Praticien reçoit aussi la liste des ses rendez-vous plannifiés pour j+1. 
            L'objectif des rappels à destination des clients ainsi qu' aux praticiens et de permettre un gain 
            qualitatif et organisationnel.</p>
        </dd>
      </dl>
    </div>
    <mat-divider></mat-divider>
    <div class="titre" id="informations">Informations</div>
    <div>
      <dl>
        <dt>Protection des données:</dt>
        <dd><span>Informations relatives à la RGPD</span>&nbsp;
            <mat-icon>
              <a routerLink="./" fragment="rgpd">arrow_forward</a>
            </mat-icon>
        </dd>
      </dl>
      <dl>
        <dt>Données collectées:</dt>
        <dd><span>Liste des informations</span> &nbsp;
            <mat-icon>
                <a routerLink="./" fragment="infocollectees">arrow_forward</a>
            </mat-icon>
      </dl>
      <dl>
        <dt>Traitement des données:</dt>
        <dd><span>Dpo</span>&nbsp;
          <mat-icon>
              <a routerLink="./" fragment="dpo">arrow_forward</a>
          </mat-icon>
        </dd>
      </dl>
      <dl>
        <dt>Informatique et libertés:</dt>
        <dd><span>Autorisations</span>&nbsp;
            <mat-icon>
                <a routerLink="./" fragment="cnil">arrow_forward</a>&nbsp;
            </mat-icon>
      </dl>
    </div>

    <!-- <div> -->
        <mat-divider></mat-divider>
    <!-- </div> -->
    <div class="titre">Développement</div>
    
    <div>
      <dl>
        <dt>Couche IHM :</dt>
        <dd><span>Language :</span> TypeScript/Javascript</dd>
        <dd><span>FrameWork :</span> @angular 2 à 7</dd>
        <dd><span>Hebergement :</span> na</dd>
      </dl>
      <dl>
        <dt>Couche traitement mêtier :</dt>
        <dd><span>Language :</span> Java 8</dd>
        <dd><span>Hebergement :</span> na</dd>
      </dl>
      <dl>
        <dt>Couche persistance :</dt>
        <dd><span>Base de donnée :</span> PostGresSQL</dd>
        <dd><span>Hebergment :</span> na</dd> 
      </dl>
      <dl>
        <dt>Container :</dt>
        <dd><span>Base de donnée :</span> PostGresSQL</dd>
        <dd><span>Hebergment :</span> na</dd> 
      </dl>
      <dl>
        <dt>@Contact :</dt>
        <dd><span>Dev fullstack :</span> DobyLov</dd>
        <dd><span>Dépot :</span>&nbsp;<a href="https://github.com/dobylov">https://github.com/dobylov</a></dd>
      </dl>
    </div>  
     
    <mat-divider></mat-divider>

    <div id="rgpd" class="titre" SmoothScroll>Rgpd&nbsp;<mat-icon><a routerLink="./" fragment="informations">keyboard_arrow_up</a></mat-icon></div>
    <div>
      <dl>
        <dt>1 Identification des données</dt>
        <dd><p>Les informations colectées sont celles permettant d'identifier le 
            client(e) par son nom, prenom, date anniversaire, genre, adresse postale,
            téléphone fixe, téléphone mobile et son adresse mail.</p>
        </dd>
      </dl>
      <dl>
        <dt id="infocollectees">2 Objectif de la collecte&nbsp;<mat-icon><a routerLink="./" fragment="informations">keyboard_arrow_up</a></mat-icon></dt>
        <dd><p>La collecte permet une qualité de service élévée, le système
            est l'interface pour prendre des rendez-vous, de les modifier, de les supprimer.
            Avec les informations issues de la collecte, le système analyse les rendez-vous plannifiés pour le jour suivant
            et est en mesure d\'envoyer un Email et ou un SMS de rappel de rdv.
            Pour réaliser ces fonctions bien définies, le système nécessite les informations
            de prénom, Email et ou numéro de téléphone portable.
            Le contenu du message envoyé est à charactère informatif et contient les
            informations suivantes : Prenom du client , indiquer l'adresse du lieu de RDV la
            le soin qui sera pratiqué ainsi que l'heure.</p>
        </dd>
      </dl>
      <dl>
        <dt>3 La durée de conservation</dt>
        <dd><p>Les données générales du logiciel sont conservées à minima le temps de vie de celui-ci. néanmoin le client peut 
            demander la modification / suppression des données qui le concerne uniquement.</p></dd>
      </dl>
      <dl>
        <dt id="dpo">4 Responsable traitement&nbsp;<mat-icon><a routerLink="./" fragment="informations">keyboard_arrow_up</a></mat-icon></dt>
        <dd><p>Le responsable en charge du traitement des données liées au logiciel OpusBeaute est Frédéric BEAUDEAU joignable <a href="mailto:ricodoby@hotmail.com?subject=Opus_Beaute_Rgpd%20%3A%20Traitement%20des%20donn%C3%A9es&body=Bonjour%2C%0AJ'ai%20une%20question%20%C3%A0%20vous%20poser%2C%20pouvez%20vous%20revenir%20vers%20moi%20d%C3%A8s%20que%20possible.%0A">ICI</a> (mail).</p></dd>
      </dl>
      <dl>
        <dt>5 Protection des données</dt>
        <dd><p>Le responsable en charge de la protection de données liées au logiciel OpusBeaute est Frédéric BEAUDEAU joignable <a href="mailto:ricodoby@hotmail.com?subject=Opus_Beaute_Rgpd%20%3A%20Protection%20des%20donn%C3%A9es&body=Bonjour%2C%0AJ'ai%20une%20question%20%C3%A0%20vous%20poser%2C%20pouvez%20vous%20revenir%20vers%20moi%20d%C3%A8s%20que%20possible.%0A">ICI</a> (mail).</p></dd>
      </dl>
      <dl>
        <dt>6 Finalité des traitements</dt>
        <dd><p>Les données collectées permettent d'assurer le fonctionnement du logiciel de gestion clientelle.</p></dd>
      </dl>
      <dl>
        <dt>7 Localisation des données</dt>
        <dd><p>Celles-ci sont hebergées dans un cloud privé respectant la reglementation Rgpd.</p></dd>
      </dl>
      <dl>
        <dt>8 Exploitation commerciale</dt>
        <dd><p>Le données sont structurées dans une base de donnée et font l'objet de traitement uniquement 
            dédiés à l'activité professionnelle, Les données sont ni revendues, ni cédées, ni louées 
            sous quelques forme que ce soit au près d'un quelconque organisme.</p></dd>
      </dl>
      <dl>
        <dt id="cnil">9 Declaration CNIL&nbsp;<mat-icon><a routerLink="./" fragment="informations">keyboard_arrow_up</a></mat-icon></dt>
        <dd><p>Les données collectées et de leur usage seront déclarés à la CNIL à la mise 
            en production du logiciel</p></dd>
      </dl>
    <div class="boutonFermer" mat-elevation-z20>
        <a [routerLink]="[ '/welcome' ]"><button mat-raised-button color="primary">Fermer</button></a>
    </div>
  </div>
</div>
