<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
 rel="stylesheet">
<div class="body-container">
	<div class="left-container">
		<mat-card class="mat-card-titre">
			<mat-card-content class="mat-card-content-titre">
				Liste de clients
			</mat-card-content>
		</mat-card>
		<mat-card class="mat-card">
			<mat-card-content class="mat-card-content">

			</mat-card-content>
		</mat-card>

	</div>
	<div class="boutonRemonter" mat-elevation-z20>
  </div>

  <!-- ------------------------------------------------------------------------- -->
  
  <div class="right-container">
		<div>
			<mat-card class="mat-card-titre">
				<mat-card-content class="mat-card-content-titre">
					Rechercher un Client
				</mat-card-content>
			</mat-card>
		</div>
		
		<mat-card class="mat-card">
			<mat-card-header class="mat-card-header">
				<mat-icon>search</mat-icon>Client :
			</mat-card-header>
			<mat-card-content class="mat-card-content">
				
			</mat-card-content>
		</mat-card>
		
	</div>
</div>
