<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
 rel="stylesheet">
<app-header></app-header>
<mat-sidenav-container class="sidenav-container" (backdropClick)="close()" SmoothScroll>
    <mat-sidenav #mysidenav 
                role="directory" 
                mode="over" 
                opened="false" 
                class="inside-sidenav">

    <!-- <perfect-scrollbar style="max-width: 100%; max-height: 100%;"> -->
<!-- <perfect-scrollbar style="max-height: 400px">   -->
        <mat-divider></mat-divider>
        <div class="navlist-userConn">
                <span><mat-icon>perm_identity</mat-icon></span>
                <span class="userConn">{{ userNameConnected$ }}</span>
        </div>
        <mat-divider></mat-divider>
        
        <mat-accordion class="accordionMenuSideBar" displayMode = 'flat' #navAccordion="matAccordion">
                <mat-nav-list>
                        <a mat-list-item [routerLink]="[ '/home' ]" (click)="closeSideNav()">Home</a>
                </mat-nav-list>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                Rdv
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list class="menuNavList"> 
                                <a mat-list-item class="navList" [routerLink]="[ '/rdvadd' ]" (click)="closeSideNav()">
                                        <mat-icon class="iconSize">add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/rdvsearch' ]" (click)="closeSideNav()">
                                        <mat-icon class="iconSize">search</mat-icon>
                                </a>
                        </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Client
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list> 
                                <a mat-list-item [routerLink]="[ '/clientadd' ]" (click)="closeSideNav()">
                                        <mat-icon>add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/clientsearch' ]" (click)="closeSideNav()">
                                        <mat-icon>search</mat-icon>
                                </a>
                        </mat-nav-list>      
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Prestation
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list> 
                                <a mat-list-item [routerLink]="[ '/prestationadd' ]" (click)="closeSideNav()">
                                        <mat-icon>add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/prestationsearch' ]" (click)="closeSideNav()">
                                        <mat-icon>search</mat-icon>
                                </a>
                        </mat-nav-list>        
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                Praticien
                                        </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-nav-list> 
                                        <a mat-list-item [routerLink]="[ '/praticienadd' ]" (click)="closeSideNav()">
                                                <mat-icon>add</mat-icon>
                                        </a>
                                        <a mat-list-item [routerLink]="[ '/praticiensearch' ]" (click)="closeSideNav()">
                                                <mat-icon>search</mat-icon>
                                        </a>
                                </mat-nav-list>      
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                Utilisateur
                                        </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-nav-list> 
                                        <a mat-list-item [routerLink]="[ '/utilisateuradd' ]" (click)="closeSideNav()">
                                                <mat-icon>add</mat-icon>
                                        </a>
                                        <a mat-list-item [routerLink]="[ '/utilisateursearch' ]" (click)="closeSideNav()">
                                                <mat-icon>search</mat-icon>
                                        </a>
                                </mat-nav-list>      
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                        Activite
                                                </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-nav-list> 
                                                <a mat-list-item [routerLink]="[ '/activiteadd' ]" (click)="closeSideNav()">
                                                        <mat-icon>add</mat-icon>
                                                </a>
                                                <a mat-list-item [routerLink]="[ '/activitesearch' ]" (click)="closeSideNav()">
                                                        <mat-icon>search</mat-icon>
                                                </a>
                                        </mat-nav-list>      
                                </mat-expansion-panel>
                        <mat-nav-list style="padding-bottom: 60px;">
                                <!-- <a mat-list-item [routerLink]="[ '/suivi-activite' ]" (click)="closeSideNav()">Suivi</a> -->
                        </mat-nav-list>
                </mat-accordion>
        
    </mat-sidenav> 
    <router-outlet></router-outlet>

</mat-sidenav-container>
<app-footer></app-footer>


