
<app-header></app-header>
<mat-sidenav-container class="sidenav-container" (backdropClick)="close()" SmoothScroll>
    <mat-sidenav #mysidenav 
                role="directory" 
                mode="over" 
                opened="false" 
                class="inside-sidenav">

    <!-- <perfect-scrollbar style="max-width: 100%; max-height: 100%;"> -->
<!-- <perfect-scrollbar style="max-height: 400px">   -->
        <mat-nav-list>
                <a mat-list-item [routerLink]="[ '/home' ]" (click)="closeSideNav()">Home</a>
        </mat-nav-list>

        <mat-accordion class="accordionMenuSideBar" displayMode = 'flat' #navAccordion="matAccordion">
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                Rdv
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list class="menuNavList"> 
                                <a mat-list-item class="navList" [routerLink]="[ '/rdvadd' ]" (click)="closeSideNav()">
                                        <mat-icon class="iconSize">add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/rdv-search' ]" (click)="closeSideNav()">
                                        <mat-icon class="iconSize">search</mat-icon>
                                </a>
                        </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Client
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list> 
                                <a mat-list-item [routerLink]="[ '/client-add' ]" (click)="closeSideNav()">
                                        <mat-icon>add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/client-search' ]" (click)="closeSideNav()">
                                        <mat-icon>search</mat-icon>
                                </a>
                        </mat-nav-list>      
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Prestations
                                </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list> 
                                <a mat-list-item [routerLink]="[ '/prestation-add' ]" (click)="closeSideNav()">
                                        <mat-icon>add</mat-icon>
                                </a>
                                <a mat-list-item [routerLink]="[ '/prestation-search' ]" (click)="closeSideNav()">
                                        <mat-icon>search</mat-icon>
                                </a>
                        </mat-nav-list>        
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                Utilisateur
                                        </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-nav-list> 
                                        <a mat-list-item [routerLink]="[ '/utilisateur-add' ]" (click)="closeSideNav()">
                                                <mat-icon>add</mat-icon>
                                        </a>
                                        <a mat-list-item [routerLink]="[ '/utilisateur-search' ]" (click)="closeSideNav()">
                                                <mat-icon>search</mat-icon>
                                        </a>
                                </mat-nav-list>      
                        </mat-expansion-panel>
                </mat-accordion>
                <mat-nav-list style="padding-bottom: 60px;">
                        <a mat-list-item [routerLink]="[ '/suivi-activite' ]" (click)="closeSideNav()">Suivi</a>
                </mat-nav-list>
                <!-- <div style="display:none; height: 80px">
                        Div d'ajustement pour la scrollbar du menuSideBar en position landscape sur les terminaux mobile
                </div> -->
        
    </mat-sidenav> 
    <router-outlet></router-outlet>

</mat-sidenav-container>
<app-footer></app-footer>


