<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Roboto+Slab:700|Roboto:900|Source+Sans+Pro|Montserrat:300" rel="stylesheet">
<div class="global-parentbox">
    <!-- <div class="global-childbox"> -->
        <div class="childlinebox">
            <div  class="flex-row-cont-logo">    
                <div >
                  <img class="style-img" src="./assets/fauteuil_01.jpeg" width="250">
                </div>
                <div class="flex-col-cont">  
                    <div class="style1">
                        La
                    </div>
                    <div class="style2">
                        Bonbonnière
                    </div>
                    <div class="style3">
                        d' Audrey
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>

<div class="flex-row-cont-last-line">
  <div class="style3">  
    Salon Privé en esthétique
  </div>
</div>

