<!-- <link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Roboto:900|Source+Sans+Pro|Montserrat:300" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:700|Source+Sans+Pro|Montserrat:300" rel="stylesheet">
<div class="parentBoxVAlign">
    <div class="parentBoxHAlign">
        <div class="BoxVAlign">
            <div  class="flex-row-cont-logo">    
                <div class="container-img">
                    <img class="style-img" src="./assets/fauteuil_01.jpeg">
                </div>
                <div class="flex-col-cont">  
                    <div class="la">
                        La
                    </div>
                    <div class="bonbonniere">
                        Bonbonnière
                    </div>
                    <div class="daudrey">
                        d' Audrey
                    </div>
                </div>
            </div>
            <div class="activite">
                <span >Salon Privé en esthétique</span>
            </div>

        </div>

    </div>

</div>


<!-- <div class="parentBoxVAlign">
    <span class="installApp" *ngIf=osIsMobile>  
        Install App       
        <button mat-icon-button> 
            <mat-icon>get_app</mat-icon>
        </button>
    </span>
</div> -->