<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
<div class="body-containerR">
	<div class="body-containerC">

		<mat-card class="title">
			<mat-card-content class="title-content">
				<span>Détail du client N°: </span>
			</mat-card-content>
		</mat-card>
		<!-- ----------------------------------------------------------------------------------------------------------------------- -->
		<div class="items-containerR">
			<mat-card class="section">
				<mat-card-header class="header">
					<div>Client</div>
				</mat-card-header>
				<mat-card-content class="content">
			
				</mat-card-content>
      </mat-card>
    </div> 
  </div>
</div>