// conf generique

.body-containerR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 300px;
}

.body-containerC {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px; 
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    width: 600px;
}

.items-containerR {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #b3b3b3fc;
}

.title-content {
    font-size: 24px;   
    font-weight: Bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


// Client
.matCard-praticien-section {
    flex: 1 1;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ddddddfc;
    margin-bottom: 5px;
}

.matCard-praticien-header {
    font-size: 20px;
    text-align: right;    
    font-weight: Bolder;
}

.matCard-praticien-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


// adresse
.matCard-adresse-section {
    flex: 1 1;
    min-width: 200px;
    // max-width: 300px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ddddddfc;
    margin-bottom: 5px;
}

.matCard-adresse-header {
    font-size: 20px;
    text-align: right;    
    font-weight: Bolder;
}

.matCard-adresse-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

// contact
.matCard-contact-section {
    flex: 1 1;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ddddddfc;
    margin-bottom: 5px;
}

.matCard-contact-header {
    font-size: 20px;
    text-align: right;    
    font-weight: Bolder;
}

.matCard-contact-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

// options rappels
.matCard-optionRappels-section {
    flex: 1 1;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ddddddfc;
    margin-bottom: 5px;
}

.matCard-optionRappels-header {
    font-size: 20px;
    text-align: right;    
    font-weight: Bolder;
}

.matCard-optionRappels-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


// ---------------------------------------------
// Action


// Action
.action-section {
    background-color: #ddddddfc;
    // margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::ng-deep .mat-mini-fab {
    // margin-top: -5px;
    margin-top: -3px;
    margin-bottom: -4px;
}

::ng-deep .mat-card-header {
    text-align: right;
    justify-content: space-between;
}

.mat-card-subtitle, .mat-card-content {
    margin-top: 10px;
}

.mat-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.mat-form-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;

}



// Action
.action-section {
    background-color: #ddddddfc;
    // margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::ng-deep .mat-mini-fab {
    margin-top: -3px;
    margin-bottom: -4px;
}

::ng-deep .mat-card-header {
    text-align: right;
    justify-content: space-between;
}

.mat-card-subtitle, .mat-card-content {
    margin-top: 10px;
}

.mat-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.mat-form-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;

}