.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;    
    width: 400px; // 350
    height: 350px; // 250
  }

  .flex-item {
    margin: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;  
    font-size: 18px;
  }
  
  .flex-item-title { 
    color: black;
    font-family: 'Montserrat', sans-serif;  
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }

  .flex-item-body {
    padding-left: 20px;
    padding-right: 25px;
  }

  .formField {
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .flex-container-actionOkCancel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
  }

  .flex-item-Action {
    flex:1;
  }

  

  

  