<html>
    <div class="cardCenter">
        <mat-card class="cardCenter">
            <mat-card-header>
                    <div mat-card-avatar class="opusBeaute-header-image"></div>
                    <mat-card-title class="card-titre">RGPD Privacy</mat-card-title>
                    <mat-card-subtitle class=""></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <div>
                            Rgpd Url altered
                    </div>
                </mat-card-content>            
        </mat-card>
    </div>
</html>