<html>
    <div class="cardCenter">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="opusBeaute-header-image"></div>
                <mat-card-title class="card-titre">RGPD Privacy</mat-card-title>
                <mat-card-subtitle class="card-sousTitre">Nos utilisateurs en toute confiance</mat-card-subtitle>
                <br>
            </mat-card-header>
            
            <mat-card-content class="card-contenu">
                <span>
                    <p>
                        Bonjour {{ rgpdPrenomClient }}, RGPD options à sélectionner
                    </p>
                    <p>

                    
                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                </span>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="displaySendRgpdOptions">
                    <span>
                    </span>
                    <span>
                            <!-- [disabled]="!mailBtnOnOff"  -->
                        <button mat-raised-button 
                            [disabled]="!mailBtnOnOff"
                            matTooltip="Cliquer pour valider mes options." 
                            (click)="sendRgpdOptions()">
                            Valider mes choix
                        </button>
                    </span>
                    
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</html>