// @import '~@angular/material/prebuilt-themes/purple-green.css';

@import '~@angular/material/theming';
@include mat-core();


// first version
$custom-primary: mat-palette($mat-light-green, 300);// green 200
$custom-accent: mat-palette($mat-amber, 800);// amber 800
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

// Customisation Modal
.mat-dialog-container {
    overflow: hidden !important;
    border-radius: 20px !important;
    padding: 0px !important;    
}

.mat-datepicker-content-touch .mat-calendar {
    padding: 20px;
}

.snackBarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

@media screen
and ( max-width: 414px)
{
    .snackbarWarning {    
        // height: 48px;
        height: auto;
        width: 90%;
        color: #DD2C00;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        background: #aed581;
    }
}

@media screen
and ( min-width: 415px)
{
    .snackbarWarning {    
        // height: 48px;
        height: auto;
        width: 90%;
        color: #DD2C00;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        background: #aed581;
    }
}

.snackbarInfo {
    // height: 48px;
    height: auto;
    width: 90%;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #aed581;
}

//custom Bottomsheet
.flex-bottomsheet-container {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 40px;
  }
  
  .flex-item-bottomsheet-extremity-L {
    line-height: 40px;
    width: 50px;
    text-align: left;
  }

  .flex-item-bottomsheet-extremity-R {
    line-height: 46px;
    width: 150px;
    // text-align: right;
  }
  
  .flex-item-bottomsheet-center {
    line-height: 46px;
    width: 100%;
    text-align: center;
  }
  
  .styletxt-bottomsheet {
      color: black;
      font-family: 'Montserrat', sans-serif; 
      font-size: 20px;
      font-weight: bold;

  }

.modalConfUser {
    opacity: 1;
    background: #aed581;
    // transition: opacity 5400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}




// panel-header ferme
.accordionMenuSideBar .mat-expansion-panel-header {
    padding-left: 16px;
    background-color: #aed581;
}

// panel-header ouver
.accordionMenuSideBar .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {

    background-color: #9bbe73;
}

// panel Body
.accordionMenuSideBar .mat-expansion-panel-body {
    background-color: #9bbe73;
}

// panel survol 
.accordionMenuSideBar .mat-expansion-panel-header:hover {
    background-color: #9bbe73;
}

// panel survol selectionne
.accordionMenuSideBar .mat-expansion-panel-header .mat-expanded:hover {
    background-color: #9bbe73;
}

// pannel non selectionne
.accordionMenuSideBar .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background-color: #9bbe73;
}

.accordionMenuSideBar .mat-expansion-panel .mat-expansion-panel-header:hover {
    background-color: #9bbe73;
} 

