// ********************
// Portrait
// ********************

/* iphone 4 */
@media only screen 
and (orientation: portrait)
and (min-device-width: 320px) 
and (max-device-height: 480px) 
and (-webkit-device-pixel-ratio: 2) 
{
  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 0px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    display: none;
    text-align: center;
  }

  .mat-column-prestation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

}

/* iphone 5 */
@media only screen 
and (orientation: portrait)
and (min-device-width: 320px) 
and (max-device-height: 568px)  
and (-webkit-device-pixel-ratio: 2) 
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 10px;
  }


  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: left;
  }

  .mat-column-activite {
    display: none;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

/* iphone 6, 6s, 7, 8 */
@media only screen 
and (orientation: portrait)
and (min-device-width: 375px) 
and (max-device-height: 667px)
and (-webkit-device-pixel-ratio: 2) 
{
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    display: none;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen 
and (orientation: portrait)
and (min-device-width: 414px) 
and (max-device-height: 736px)  
and (-webkit-device-pixel-ratio: 3) 
{
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 10px;
  }


  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    // display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: left;
  }

  .mat-column-activite {
    display: none;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

/* iphone X */
@media only screen 
and (orientation: portrait)
and (min-device-width: 375px) 
and (max-device-height: 812px)  
and (-webkit-device-pixel-ratio: 3) 
{
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    // display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: left;
  }

  .mat-column-activite {
    display: none;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

 }

// Portrait ipad
@media screen 
and ( orientation: portrait )
and ( min-width: 768px )
and ( max-height: 1024px )

{ 
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 22px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    text-align: center;
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    // width: auto;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    // display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

}

// Portrait ipad pro
@media screen 
and ( orientation: portrait)
and ( max-device-width: 1024px )
and ( min-device-height: 1366px ) 

{ 
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 22px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    text-align: center;
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    // display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}


// ********************
// Landscape
// ********************

// L
/* iphone 4 */
@media only screen 
and (orientation : landscape)
and (max-device-width: 480px) 
and (min-device-height: 320px) 
and (-webkit-device-pixel-ratio: 2) 
{ 
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 30px;
    font-size: 14px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }

}

// L
/* iphone 5 */
@media only screen  
and (orientation: landscape)
and (max-device-width: 568px) 
and (min-device-height: 320px) 
and (-webkit-device-pixel-ratio: 2) 
{ 
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 16px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    display:none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }
}

// L
/* iphone 6, 6s, 7, 8 */
@media only screen 
and ( orientation: landscape)
and (min-device-width: 667px) 
and (max-device-height: 375px)
and (-webkit-device-pixel-ratio: 2) 
{
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 20px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 50px;
  }

}

// L
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen 
// and (max-device-width: 736px) 
// and (max-device-height: 375px)
// and (max-device-height: 414px) 
// and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape)
and (min-device-width: 736px) 
and (max-device-height: 414px) 
and (-webkit-device-pixel-ratio: 3)
{
  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 20px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }

}

// L
/* iphone X */
@media only screen 
and (orientation: landscape)
and (min-device-width: 812px) 
and (max-device-height: 375px) 
and (-webkit-device-pixel-ratio: 3)
{

  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 20px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 10px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }

}  

// Landscape ipad
@media screen 
and ( orientation: landscape)
and ( min-device-height: 768px )
and ( max-device-width: 1024px ) 
{

  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 30px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 20px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    // width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }

}


// Landscape Ipd Pro
@media screen
and (orientation: landscape)
and (min-device-width: 1366px)
and (min-device-height: 1024px)
{

  // Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-flow: nowrap;
    flex-direction: column; 
    justify-content: center;
  }

  .item-titre {
    height: 40px;
    font-size: 30px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: center;
  }

  .table {
    padding: 50px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-separation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
    // max-width: 50px;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    // width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 30px;
  }

}

// *********************************
// *********************************
// Desktop s
@media screen 
// and ( min-width: 100px)
and ( max-width: 300px)
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 70px;
    font-size: 12px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 20px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

// *********************************
// *********************************
// Desktop M
@media screen 
// and ( min-width: 100px)
and ( max-width: 600px)
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 70px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 20px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

// Desktop L
@media screen 
// and ( min-width: 100px)
and ( max-width: 800px)
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 70px;
    font-size: 20px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 20px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    // display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}


// *********************************
// *********************************
// Desktop M
@media screen 
// and ( min-width: 100px)
and ( max-width: 600px)
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 40px;
    font-size: 18px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 20px;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    // display: none;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

// Desktop XL
@media screen 
// and ( min-width: 100px)
and ( min-width: 800px)
{

  //Config du Container
  .flex-container {
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 0px;
  }

  .item-titre {
    height: 70px;
    font-size: 22px;
    text-align: center;    
    font-weight: normal;
    color: black;
    padding: 2px 2px;
    font-family: 'Montserrat', sans-serif;
  }

  .item-titre > span {
    // vertical-align: -webkit-baseline-middle;
    text-align: justify;
  }

  .table {
    padding: 20px;
    text-align: -webkit-center;
  }

  // titre des colonnes
  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  // Contenu des cellules
  .mat-cell {   
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

  .mat-column-dateHeureDebut {
    font-weight: 600;
    text-align: center;
  }

  .mat-column-separation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-dateHeureFin {
    // display: none;
    padding-left: 5px;
    font-weight: 600;
    text-align: center;
  }

  .mat-column-lieuRdv {
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-activite {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prestation {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-nomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  .mat-column-prenomClient {
    // display: none;
    padding-left: 5px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
  }
  td.mat-cell:first-of-type {
    width: 25px;
    text-align: center;
    padding-left: 5px;
  }

  th.mat-header-cell:last-of-type {
    padding-left: 5px;
  }

  .button-Details {
    width: 20px;
    text-align: center;
  }

  .boutonRemonter {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}