<link href="https://fonts.googleapis.com/css?family=Arsenal|Averia+Serif+Libre:700|Barlow+Semi+Condensed|Dancing+Script|Dosis:800|Great+Vibes|Indie+Flower|Marcellus|Pacifico|Source+Sans+Pro|Montserrat:300"
    rel="stylesheet">

<div class="flex-container" *ngIf="isUserIsConnected$" SmoothScroll>
    <div id="hautDePage" class="item-titre">
        <span *ngIf="nbRdv == -1">
            ------ Patientez ------
        </span>
        <span *ngIf="nbRdv == 0">
            {{ currentUtilisateur$.prenomUtilisateur | FirstCharUpperPipe }}, vous n'avez pas de rendez-vous de
            plannifé ce jour.
        </span>
        <span *ngIf="nbRdv ==  1">
            {{ currentUtilisateur$.prenomUtilisateur | FirstCharUpperPipe }}, voici votre rendez-vous de ce jour:
        </span>
        <span *ngIf="nbRdv > 1">
            {{ currentUtilisateur$.prenomUtilisateur | FirstCharUpperPipe }}, voici vos {{ nbRdv }} rendez-vous
            plannifiés dans la journée:
        </span>
    </div>

    <div>
        <mat-divider></mat-divider>
    </div>

    <div class="table" *ngIf="nbRdv >=1">
        <mat-table #table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="tabNomsColonnes"></tr>
            <tr mat-row *matRowDef="let row; columns: tabNomsColonnes;"></tr>

            <ng-container matColumnDef="numeroRdv">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element; let i = index ">
                    <span *ngIf="!element.isCancelled">{{ i + 1 }}/</span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled">{{ i + 1 }}/</span>
            </ng-container>

            <ng-container matColumnDef="dateHeureDebut">
                <th mat-header-cell *matHeaderCellDef>Heure début</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.isCancelled"> {{ element.dateHeureDebut | Time24Pipe }}</span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.dateHeureDebut | Time24Pipe }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="separation">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.isCancelled"> - </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> - </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="dateHeureFin">
                <th mat-header-cell *matHeaderCellDef>Heure fin</th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="!element.isCancelled"> {{ element.dateHeureFin | Time24Pipe }} </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.dateHeureFin | Time24Pipe }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="lieuRdv">
                <th mat-header-cell *matHeaderCellDef>Lieu Rdv</th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="!element.isCancelled"> {{ element.lieuRdv.lieuRdv }}  </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.lieuRdv.lieuRdv }} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="activite">
                <th mat-header-cell *matHeaderCellDef>Activité</th>
                <td mat-cell *matCellDef="let element">  
                    <span *ngIf="!element.isCancelled"> {{ element.prestation.activite.activiteNom }} </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.prestation.activite.activiteNom }} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="prestation">
                <th mat-header-cell *matHeaderCellDef>Prestation</th>
                <td mat-cell *matCellDef="let element" class="presta">
                    <span *ngIf="!element.isCancelled"> {{ element.prestation.soin |  FirstCharUpperPipe }}   </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.prestation.soin |  FirstCharUpperPipe }}  </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="nomClient">
                <th mat-header-cell *matHeaderCellDef>Nom </th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="!element.isCancelled"> {{ element.client.nomClient }}  </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.client.nomClient }} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="prenomClient">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let element">  
                    <span *ngIf="!element.isCancelled"> {{ element.client.prenomClient }}  </span>
                    <span *ngIf="element.isCancelled" class="isRdvIsCancelled"> {{ element.client.prenomClient }} </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="idRdv">
                <th mat-header-cell *matHeaderCellDef>Détails</th>
                <td mat-cell *matCellDef="let element" class="button-Details">
                    <button mat-icon-button color="primary" [routerLink]="['/rdvdetails', element.idRdv]">
                        <i class="material-icons">remove_red_eye</i>
                    </button>
                </td>
            </ng-container>
        </mat-table>
    </div>
    <div class="boutonRemonter" mat-elevation-z20>

    </div>
</div>