.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 430%;
  height: 100%; 
  // align-content:stretch;
  // align-items:flex-start;
}


.flex-item-title {
  // flex:1;  

}

.toggleDiv {
  // color: black;
  font-family: 'Montserrat', sans-serif;  
  font-size: 12px;

}

.flex-item-title p {
  color: black;
  font-family: 'Montserrat', sans-serif;  
  font-size:24px;
  font-weight: bold;
  // font-weight: 300; // bold est plus fort
  text-align: center;
}

.flex-item {
  flex:1;  
  margin: 25px;
  width: 100%;
  // flex: none; /* make this flex item inflexible, so width property controls its width entirely */
  // height: 40px;
}

.flex-item > * {
  width: 85%;
}

.flex-item div {
  color: black;
  font-family: 'Great vibes', cursive;
  font-size: 20px;
  // width: 100%;
  // border-color: 1px crimson solid;
}

.flex-item-ForgottenPwd {
  color: black;
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
}

.flex-item-Action {
  flex:1;
}

.flex-container-actionOkCancel {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flex-item-ActionokCancel {
  flex:1;
}

// modal
.flex-item-title {
  color: black;
  font-family: 'Great vibes', cursive;
  font-size: 26px;
}

// Modal:toolBar
.flex-item-titleMaj {
  color: black;
  font-family: 'Great vibes', cursive;
  font-size: 24px;
  border: 1px crimson;
}

.flex-container-login {

  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid  crimson;
}

.flex-item2 {
  flex: 1;
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px;
  margin:20px;
  width: 90%;
  border: 1px solid crimson;
}

.flex-item3 {
  flex: 1;
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
  margin:20px;
  width: 90%;
  border: 1px solid crimson;
}
.flex-item4 {
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
  border: 1px solid  crimson;
}

.flex-container-actionOkCancel {
  display: flex;
  flex-direction: row;
}
.flex-item5 {
  flex:1;
  font-family: 'Montserrat', sans-serif;  
  font-size: 14px;
  border: 1px solid crimson;
}

