<html>
    <div class="rgpd-Container">
        <mat-card >
            <mat-card-header>
                <div mat-card-avatar class="opusBeaute-header-image"></div>
                <mat-card-title class="card-txtTitre">RGPD Privacy</mat-card-title>
                <mat-card-subtitle class="card-txtSousTitre">Vos informations bien gérées</mat-card-subtitle>
                <br>
            </mat-card-header>
            
            <mat-card-content class="cardContent">
                  <mat-horizontal-stepper [linear]="true" #stepper>
                    <mat-step [stepControl]="stepperFormReadRgpd">
                      <form>
                        <ng-template matStepLabel>Règles</ng-template>
                        <perfect-scrollbar style="max-width: 100%; max-height: 300px;" (psYReachEnd)="bottomScrolled()">
                          <section *ngFor="let article of rgpdArticles">
                              <div class="article-Size-Fixer">
                                  <span class="article-Title-Iteration">{{ article.titleArticle }}</span> 
                                  <p class="article-Body-Iteration">{{ article.bodyArticle }}</p> 
                              </div>
                          </section>
                          </perfect-scrollbar>                          
                          <div class="rgpdReadActionZone-Container">
                              <mat-checkbox class="rgpdActionCheckBox"
                              [disabled]="checkBox_Disabled"
                              (change)="checkBox_ReadRgpd_Switcher()"
                              [(color)]="cb_color"
                              [(checked)]="checkBox_Checked"
                              [labelPosition]='labelPoz'
                              matTooltip="Valider la lecture">
                              J'ai lu                               
                            </mat-checkbox>
                            <span class="rgpdActionNextButton">                            
                              <button [disabled]="!stepperFormReadRgpd.valid" 
                                      mat-mini-fab color="primary"  
                                      (click)="goToRgpdSettings()" 
                                      matStepperNext 
                                      matTooltip="Consulter les informations personnelles">
                                <i class="material-icons">navigate_next</i>
                              </button>
                            </span>                             
                          </div> 
                      </form>
                    </mat-step>
                    <mat-step>
                        <form>                     
                          <ng-template matStepLabel>Vous</ng-template>
                          <div class="rgpdInfoPersoTitle-Container">
                              <span><i class="material-icons">assignment_ind</i></span>
                              <span class="rgpdInfoPersoTitle">Vos Informations personnelles :</span>
                          </div>  
                          <div class="rgpdInfoPersoTitle-Container">
                                <span class="rgpdinfoPersoTitleIcon"><i class="material-icons">person</i></span>
                                <span class="rgpdInfoPersoTitle">Identité :</span>
                            </div> 
                          <div class="rgpdInfoPersoListe-Container">
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Nom : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.nomClient | uppercase }}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Prénom : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.prenomClient | FirstCharUpperPipe }}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Email : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.adresseMailClient | lowercase | ifIsNullSetToNonRenseignePipe}}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Ligne Fixe : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.telephoneClient | ifIsNullSetToNonRenseignePipe }}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Ligne Mob : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.telMobileClient | ifIsNullSetToNonRenseignePipe }}</span>   
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Genre : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.genreClient.genreHum | FirstCharUpperPipe | ifIsNullSetToNonRenseignePipe }}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Naissance : </span>
                                  <span class="rgpdInfoPersoContenu-Item"*ngIf="requestComplete"> {{ client.dateAnniversaireClient | date: 'dd/MM/yyyy' | ifIsNullSetToNonRenseignePipe }}</span>
                              </div>
                              <div class="rgpdInfoPersoTitle-Container">
                                  <span class="rgpdinfoPersoTitleIcon"><i class="material-icons">person_pin_circle</i></span>
                                  <span class="rgpdInfoPersoTitle">Adresse :</span>   
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Rue : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.adresse.numero }},&nbsp; {{ client.adresse.rue | FirstCharUpperPipe | ifIsNullSetToNonRenseignePipe }}  </span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">CP : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.adresse.zipCode | ifIsNullSetToNonRenseignePipe }}</span>
                              </div>
                              <div class="rgpdInfoPersoListeItem-Container">
                                  <span class="rgpdInfoPersoIntitule-Item">Ville : </span>
                                  <span class="rgpdInfoPersoContenu-Item" *ngIf="requestComplete"> {{ client.adresse.ville | ifIsNullSetToNonRenseignePipe }}</span>
                              </div>                   
                          </div>
                          <br><mat-divider></mat-divider>
                          <div class="rgpdInfoPersoAction-container">
                                <mat-checkbox
                                class="rgpdInfoPersoActionCheckBox" 
                                (change)="checkBox_InfoPerso_Switcher()"
                                [(color)]="cb_color"
                                [(checked)]="checkBox_InfoPerso_Checked"
                                [labelPosition]='labelPoz'
                                matTooltip="Demander une correction des informations"> 
                                Correction d'informations                          
                              </mat-checkbox>
                              <span>
                                <button class="rgpdInfoPersoActionPrevious"
                                        mat-mini-fab 
                                        color="primary" 
                                        matStepperPrevious 
                                        matTooltip="Retour arrière">
                                    <i class="material-icons">navigate_before</i>
                                </button>
                                <span class="betweenButtons"></span>
                                <button  class="rgpdInfoPersoActionNext"
                                    mat-mini-fab 
                                    color="primary"
                                    matStepperNext
                                    (click)="getStatusOfNeedCorrection()"
                                    matTooltip="Aller aux réglages">
                                    <i class="material-icons">navigate_next</i>
                                </button>
                              </span>
                          </div>
                        </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Réglages</ng-template>
                      <div class="rgpdReglages-Container">
                        <span class="slider-Subject">
                            Reçevoir des offres commerciales 
                        </span>
                        <span class="slider-Switch">
                            <mat-slide-toggle  
                              (change)="onChangeTs_Commercials_Checked()"                         
                              [color]="ts_Color"
                              [checked]="ts_Commercials_Checked">                                  
                            </mat-slide-toggle>
                        </span>
                      </div>
                      <div class="rgpdReglages-Container">
                        <span class="slider-Subject">
                            Reçevoir la NewsLetter 
                        </span>
                        <span class="slider-Switch">
                            <mat-slide-toggle    
                              (change)="onChangeTs_NewsLetter_Checked()"                             
                              [color]="ts_Color"
                              [checked]="ts_NewsLetter_Checked">                                  
                            </mat-slide-toggle>                    
                        </span>                        
                      </div>
                      <div class="rgpdReglages-Container">
                          <span class="slider-Subject">
                              Reçevoir les rappels de Rdv par SMS 
                          </span>
                          <span class="slider-Switch">
                              <mat-slide-toggle 
                                (change)="onChangeTs_SmsRdvRemider_Checked()"
                                [color]="ts_Color"
                                [checked]="ts_SmsRdvRemider_Checked">                                  
                              </mat-slide-toggle>                          
                          </span>                        
                        </div>
                        <div class="rgpdReglages-Container">
                          <span class="slider-Subject">
                              Reçevoir les rappels de Rdv par Mail 
                          </span>
                          <span class="slider-Switch">                          
                              <mat-slide-toggle 
                                (change)="onChangeTs_MailRdvReminder_Checked()"                               
                                [color]="ts_Color"
                                [checked]="ts_MailRdvReminder_Checked">                                  
                              </mat-slide-toggle>         
                          </span>                        
                        </div>
                      <div class="rgpdSettingsActionZone-Container">
                        <span class="rgpdPreviousButton">
                          <button mat-mini-fab color="primary" 
                                  (click)="stepperNavigationRetourArriere()" 
                                  matStepperPrevious matTooltip="Retour arrière">
                            <i class="material-icons">navigate_before</i>
                          </button>
                        </span>
                        <button mat-mini-fab color="primary" 
                                class="rgpdPreviousButton"
                                (click)="exitRgpdSettings()" 
                                matStepperPrevious matTooltip="Exit">
                          <i class="material-icons">clear</i>
                        </button>
                        <span class="rgpdSendButton">
                          <button mat-mini-fab color="primary" [disabled]="disable_SendRgpdButton" (click)="sendRgpdOptions()" matTooltip="Enregistrer vos réglages">
                            <!-- <i class="material-icons">done</i> -->
                            <i class="material-icons">send</i>
                          </button>
                        </span>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</html>