.rgpd-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.cardContent {
    width: 400px;
    height: 100%;
}

.article-Size-Fixer {
    width: 355px;
}

.article-Title-Iteration {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.article-Body-Iteration {
    text-indent: 15px;
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 14px;
    color: black;
}

.cardCenter {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    // width:350px;
    width:600px;
    text-align: center;
    margin: 0 auto;
}

.card {
    // max-width: 600px;
    max-width: 100%;
}

.card-txtTitre {
    font-family: 'Montserrat', sans-serif; 
    text-align: left; 
    font-size: 24px;
    // font-weight: bold;
    color: black;
}

.card-txtSousTitre {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 12px;
    // font-weight: bold;
    color: black;
}

.card-txtContenu {
    font-family: 'Montserrat', sans-serif;  
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    // font-weight: bold;
    color: black;
}

.opusBeaute-header-image {
    // background-image: url('http://192.168.1.100:4200/assets/OpBLogo.svg');
    background-image: url(../../assets/OpBLogo.svg);
    background-size: cover;
}

ol li {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.txtParagraphRgpd {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 10px;
    font-weight: normal;
    color: black; 
}

// Stepper Info Perso
.rgpdInfoPersoBody-Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 25px;
}

.rgpdInfoPersoTitle-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content:flex-start;
    align-items: center ;
}

.rgpdinfoPersoTitleIcon {
    margin-left: 10px;
}
.rgpdInfoPersoTitle {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 18px;
    font-weight: bold;
    color: black; 
}

.rgpdInfoPersoListe-Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content:flex-start;
    width: 100%;
}

.rgpdInfoPersoListeItem-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content:space-between;
    align-items: center ;
    margin-left: 35px
}

.rgpdInfoPersoIntitule-Item {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 40%;
}

.rgpdInfoPersoContenu-Item {
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px;
    color: black;  
    // width: 60%;   
}

.rgpdInfoPersoContenuCheckBox {
    width: 10px;
}

.rgpdInfoPersoAction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    // vertical-align: 30px;
    padding-top: 10px;
}

.rgpdInfoPersoActionCheckBox {
    font-family: 'Montserrat', sans-serif;  
    text-align: left; 
    font-size: 14px;
    font-weight: bold;
    color: black; 
    text-align: left;
    padding-left: 30px;
}

.betweenButtons {
    padding: 10px;
}

// Stepper Reglages RGPD
.rgpdReglages-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center ;
    width: 100%;
    height: 60px;
}

.slider-Subject {
    text-align: left;
    width: 90%;    
}

.slider-Switch {
    text-align: right;
    width: 10%;
    margin: 10px;
}
  
.slider-Margin {
    text-align: center;
    margin: 10px;
}

.rgpdReadActionZone-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // text-align: right;
    align-items: center;
    height: 55px;
}

.rgpdActionText {
    text-align: left;
    // margin-right: 7px;
}

.rgpdActionCheckBox {
    // text-align: left;
    vertical-align: middle;
    margin-right: 7px;
}

.rgpdActionNextButton {
    vertical-align: middle;
    margin-right: 15px;
}

.rgpdSettingsActionZone-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-end;
}

.rgpdPreviousButton {
    margin-right: 15px;
}

.rgpdSendButton {
    margin-right: 7px;
}